/* Definições gerais */
body{
  background-color: #fbfbfb;
  background-image: url(https://braziljs.org/styles/images/bg02.png), url(https://braziljs.org/styles/images/bg03.png), url(https://braziljs.org/styles/images/bg01.png);
  background-position: top left,	bottom left,	top left;
  background-size: 100% 6em,	0% 6em,	auto;
  background-repeat: no-repeat,	no-repeat,	repeat;
}
.hide{
  display: none;
}
.table {
  margin-bottom: 3px;
}
.centered{
  margin: 0 auto !important;
  float: none !important;
}
.cabecalho-main{
  text-align: center;
  margin: 20px 0 40px 0;
}
.table-hover>tbody>tr {
  background-color: #f1f1f1;
}
.table a:not(.btn), .table a:not(.btn) {
  text-decoration: none;
}
/* Buttons */
.btn-gerar-coffeeMakers{
  width: 100%;
}
.btn-gerar-coffeeMakers i{
  transition: 1.4s;
}
.btn-gerar-coffeeMakers:hover i{
  transform: rotate(360deg);
}
/* Tela Sorteio */
.aviso-panel-pessoas{
  margin: 20px;
}
/* Navbar */
.navbar-link-github{
  font-size: 19px;
}
.navbar{
  border-radius: 0;
}
/* Footer */
footer{
  font-size: 14px;
  color: #989898;
  margin: 0 0 10px 0;
  padding: 25px 0px 10px 0px;
  text-align: center;
}
.icon-redes-sociais{
  font-size: 18pt;
}
.social-content{
  margin-top: 10px;
}
.social-content a{
  transition: .4s;
  color: #989898;
  margin: 0 3px 0 2px;
}
.social-content a:hover{
  color: #18bc9c;
}
