/* Definições gerais */
.centered{
    margin: 0 auto !important;
    float: none !important;
}
.cabecalho-main{
  text-align: center;
  margin: 40px 0 40px 0;
}
.table-hover>tbody>tr {
    background-color: #f1f1f1;
}
